<h1>Editar Pessoa</h1>

<%= form_with(model: @pessoa, local: true) do |form| %>
  <p>
    <%= form.label :nome %><br>
    <%= form.text_field :nome %>
  </p>

  <p>
    <%= form.label :cpf %><br>
    <%= form.text_field :cpf %>
  </p>

  <p>
    <%= form.label :rg %><br>
    <%= form.text_field :rg %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :whatsapp %><br>
    <%= form.text_field :whatsapp %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Voltar', pessoas_path %>
