<!DOCTYPE html>
<html>
  <head>
    
    <title><%= content_for(:title) || "Adm Pessoal" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Adm Pessoal">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS (FALTAVA ESTE AQUI!) -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <%= yield :head %>

    <!-- Seus estilos -->
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <!-- Importmap -->
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!-- Navbar -->
    <%= render "shared/navbar" %>

    <!-- Conteúdo das páginas -->
    <%= yield %>

    <!-- Bootstrap JS + Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"></script>

 
 </body>
</html>
